@define-color waybar-foreground #ffffff;
@define-color waybar-foreground-black #000000;
@define-color tmux-attached-color #8ec07c;
@define-color tmux-detached-color #fabd2f;
@define-color tmux-none-color #fb4934;
@define-color workspace-color #ffffff;
@define-color medium-color #7CFC00;
@define-color high-color #FF5555;

* {
  font-family: "FiraCode Nerd Font Mono", monospace;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  background: transparent;
}

#custom-tmux {
  padding: 0 10px;
  border-style: solid;
  border-width: 0 0 2px 0;                  /* Only bottom border */
  border-color: transparent;                /* Default to transparent */
  color: @waybar-foreground;                /* Default text color */
}

/* Active tmux session with at least one attached client */
.tmux-attached {
  border-bottom-color: @tmux-attached-color;
}

/* Sessions exist but none attached */
.tmux-detached {
  border-bottom-color: @tmux-detached-color;
}

/* No tmux sessions at all */
.tmux-none {
  border-bottom-color: @tmux-none-color;
}

/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
    margin: 5px 1px 6px 1px;
    padding: 0px 1px;
    border-width: 0 0 2px 0;
    boder-style: solid;
    border-color: transparent;
    color: @waybar-foreground-black;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    color: @waybar-foreground;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @waybar-foreground-black;
    border-bottom-color: @workspace-color;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @waybar-foreground-black;
    border-bottom-color: @workspace-color;
}


#custom-cpu,
#custom-mem,
#custom-gpu {
  color: @waybar-foreground;
  padding: 0 12px;
  margin: 0 5px;
  border-bottom: 2px solid transparent;
}

/* Appearance based on usage class */
.low {
  border-bottom: none;
}
.medium {
  border-bottom: 2px solid @medium-color; /* green */
}
.high {
  border-bottom: 2px solid @high-color; /* red */
}


#custom-dev-notifier {
  font-family: "FiraCode Nerd Font Mono";
  font-size: 14px;
  padding: 0 6px;
}

#custom-dev-notifier.github {
  color: #f1502f;
}

#custom-dev-notifier.gitlab {
  color: #fc6d26;
}

#custom-dev-notifier.azure {
  color: #0078d4;
}
